@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Mr_Dafoe";
    src: url(../fonts/Mr_Dafoe/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: "Santio";
    src: url(../fonts/SANTIO/TTF/Santio\ regular.ttf)
}

$fontInter: "Inter";
$fontMr_Dafoe: "Mr_Dafoe";
$fontSantio: "Santio";