// Colors

$main-color: white;
$second-color: #E7BC0E;
$third-color: #6BC1A3;

// header 

$nav_imageWidth: 15px;
$headerh1Font-size: 84px;
$headerh1Font-weight: 900;
$headerh1margin: 5vh auto 5vw 7vw;
$headerh1text-decoration: uppercase;

// main

$greenParagraph-width: 20vw;
$yellowImg-width: 100px; 
$paragraphFont-size: 35px;