// $main-color: #8000ff;
// $main-margin: 10vh 0 0 0;
// $main-btnMargin: 2vh 0 0 0;

// $main_second_color: pink;

// $padding-start: 0;
// $margin-start: 0;

// $bx-sizing: border-box;

// $main-h3Size: 2rem;

// $default-font-size: 1rem;
// $max-width: 50vw;

// $text-align: center;
// $default-margin: 2vh 0;

// $borderSize: 3px;
// $borderStyle: solid;
// $borderColor: greenyellow;

$main-color: white;
$second-color: #E7BC0E;

// header 

$nav_imageWidth: 20px;
$headerh1Font-size: 66px;
$headerh1Font-weight: 900;
$headerh1Width: 15vw;
$headerh1margin: 5vh auto auto 7vw;
$headerh1text-decoration: uppercase;

// main

$greenMargin: 5vh auto auto 15vw; 
$greenParagraph-width: 25vw;
$yellowImg-width: 100px; 
$paragraphFont-size: 35px;