@use "_variables" as variables;
@use "_font" as fonts;
@use "_mixin" as mixins;

* {
    font-family: fonts.$fontSantio;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/cleo-topper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header nav {
    @include mixins.flexBox;
    img {
    width: variables.$nav_imageWidth;
    }
    a {
    @include mixins.links;
    }
}

header {
    height: 100vh;
    width: 100vw;
    h1 {
        @include mixins.h1;
    }
    p {
    @include mixins.scroll;
    }
}

.green {
    height: 100vh;
    width: 100vw;
    p {
        @include mixins.green;
    }
    p span {
        color: variables.$main-color;
        @include mixins.highlight;
    }
}

.yellow {
    @include mixins.yellow-section;

    img {
        @include mixins.yellow_image;
    }
    p:first-of-type,
    p:nth-of-type(2) {
        @include mixins.yellow-paragraph;
    }
    p:nth-of-type(3) {
        @include mixins.yellow-paragraph-last;
    }
    p:nth-of-type(3) span {
        color: variables.$main-color;
        @include mixins.highlight;
    }
}

.third {
    @include mixins.third;
}

footer {
    @include mixins.footer;
    p {
        font-size: variables.$headerh1Font-size;
        font-weight: variables.$headerh1Font-weight;
        width: 20vw;
        text-decoration: uppercase;
    }

    button {
    @include mixins.footer_button;
    &:hover {
        box-shadow: 10px 10px white;
    }
    } 

}